<!DOCTYPE html>
<html lang="en">
<head>
    {{>headtag}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-10 mx-auto">
                <div class="error_page">
                    <span class="error">404 Error</span>
                    <span class="msg">OOPS! Page not found :)</span>
                    <a href="/">
                        <button class="back-btn">Go Back</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>